# Python envs
.venv
venv
env
.venv/
venv/
env/

# Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite3
*.db

# Editor configs
.vscode/
.idea/

# System files
.DS_Store

# Output files
output.jpg

# Environment variables
.env
